body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 /* Navbar */
.navigation-items {
  margin-left: 2%;
  color: aliceblue;
  text-decoration: none;
}
.navigation-items:hover {
  color: #89f7fe;
}
.navbar-head {
 display: flex;
 justify-content: flex-end;
 align-items: center;
  height: 100%;

}
.avatar-img {
  margin-left: 2%;
}
.dashboard {
  color: white;
}

.heading{
  display: flex;
  justify-content: center;
}

.list {
  list-style: none;
}

.listItems{
  display: flex;
  width: 100%;
  background-color: red;
  justify-content: space-evenly;
}
