body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 /* Navbar */
.navigation-items {
  margin-left: 2%;
  color: aliceblue;
  text-decoration: none;
}
.navigation-items:hover {
  color: #89f7fe;
}
.navbar-head {
 display: flex;
 justify-content: flex-end;
 align-items: center;
  height: 100%;

}
.avatar-img {
  margin-left: 2%;
}
.dashboard {
  color: white;
}

.heading{
  display: flex;
  justify-content: center;
  width: 100%;
}

.list {
  list-style: none;
  position: relative;
  right: 40px;
  width: 100%;
}

.listItems{
  display: flex;
  width: 100%;
 padding: 5px;
 box-shadow: 3px 1px 10px rgba(0, 0, 0, .15);
 border: 1px solid rgba(0, 0, 0, .15);
  justify-content: space-evenly;
  border-radius: 3px;
}


.board{
  display: flex;
  justify-content: space-between;
 
}

.column {
  margin-right: 30px;
}

li{
  position: relative;
}

.checkBox:checked ~ li::after {
    content: "";
    width: 100%;
    height: 2px;
    display: block;
    background-color: black;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50% ,-60%);
} 

.toggleBtn {
  position: absolute;
  top: 70px;
  right: 100px;
}